header {
  h1 {
    text-align: center;
  }
}

.cards {
  .cards__item {
    background-size: contain;
    width: 300px;
    height: 300px;
    overflow: hidden;
    padding: 10px;
    text-align: justify;
    cursor: pointer;
  }
}

.cards__item:hover {
  overflow: visible;
  width: 30%;
  height: 30%;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

img {
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.65);
  cursor: default;
}

.overlay:target {
  display: block;
}

.popup {
  top: -100%;
  right: 0;
  left: 50%;
  z-index: 20;
  width: 85%;
  min-width: 320px;
  max-width: 600px;
  display: none;
  position: absolute;
  border: 1px solid #383838;
  background: #fefefe;

  .img__item {
    width: 100%;
    height: 1000%;
  }

  .close {
    position: relative;
    .img__close {
      width: 16px;
      height: 16px;
      position: absolute;
      left: 600px;
    }
  }
}

.overlay:target + .popup {
  display: block;
  transform: translate(-50%, 0);
  top: 20%;
}

.slide {
  display: none;
}

#slide-dot-1:checked + .slide {
  display: flex;
  justify-content: center;
}

#slide-dot-2:checked + .slide {
  display: flex;
  justify-content: center;
}

#slide-dot-3:checked + .slide {
  display: flex;
  justify-content: center;
}

input {
  display: none;
}

.menu {
  display: inline-block;
  position: fixed;
  margin-top: 50px;
  left: 50%;

  label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid cadetblue;
    margin-right: 10px;
    cursor: pointer;
  }
}

#slide-dot-1:checked + .cards ~ .menu > label[for="slide-dot-1"] {
  background-color: cadetblue;
}

#slide-dot-2:checked + .cards ~ .menu > label[for="slide-dot-2"] {
  background-color: cadetblue;
}

#slide-dot-3:checked + .cards ~ .menu > label[for="slide-dot-3"] {
  background-color: cadetblue;
}
